/*	ThankGod Ofurum
	9/20/2016	*/

body{color: #000000;
	background-color: #FF9900;
	font-family: "Calibri", sans-serif;
}

#wrapper{width: 80%;				/*# used for id variables (has just been used for div body section and decoration)*/
	margin: 0 auto 0 auto;
}

.floatright{float: right;			/*. used for class variables (has just been used for elements and shifting*/
	margin-left: 2%;
}

.floatleft{float: left;
	margin-right: 2%;
}

nav ul{list-style-type: none;		/*nav ul removes dots in ul elements only in nav section*/
}

.boldtext, dt{font-weight: bold;	/*apply bold to the content*/
}
