/*	ThankGod
	9/19/2016 */

body { color: #FFFFFF;					/*set text color to white*/  
	  background-color: #C9E4FF;		/*set background color to light blue*/ 
	  font-family: Calibri, sans-serif;	/*set font to Calbri, or the generic sans-serif font*/
}
	 
#outer-wrapper {	width: 90%; 		/*set width of id = "outer-wrapper" to 90%*/
				margin: 0 auto 0 auto; 	/*center content within id="outer-wrapper"*/
}
				
nav, #content, footer { background-color: #C9E4FF;		/*set background color to bright blue*/
							padding: 10px;				/*add 10px of padding on all four sides of the wireframe containers*/
}

header{background-color: #4CA6FF;						/*set color of header element to dark blue*/
		padding: 0 2% 2% 0; 							/*add padding to header element*/
}

footer { font-size: 0.75em;				/*reduce the font size in the footer*/
	   text-align: center;				/*center the text in the footer*/
}
	
img { float: left;						/*float the image to the left*/
}

.rightmargin { margin-right: 2%;		/*add 2% right margin to class="rightmargin"*/
}

h1, h2, h3{font-family: Verdana, sans-serif;
padding-top: 1%;}

li{list-style-type: none;				/*prevents bullets from appearing with unorderd list*/
	display: inline;					/*make items appear in same section*/
}

.clearfloat{clear: both;				/*clear float of content marked class="clearfloat"*/
}